<div data-ng-controller="addToCartController" data-ng-init="init()"
	class="cart">
	<ol>
		<li style="width: 50%">Name</li>
		<li style="width: 10%">Quantity</li>
		<li style="width: 10%">Cost</li>
		<input type="hidden" name="itemAvailable" ng-model="itemAvailable"
			ng-init="itemAvailable =item.available " value="{{item.available}}">

		<li style="width: 10%">Delete</li>
	</ol>

	<div ng-repeat="item in cartItems">


		<form name="addToCart" novalidate ng-submit="updateQuantity()"
			ng-controller="addToCartController">
			<ol>
				<li style="width: 50%">{{item.item}}</li>

				<li style="width: 10%"><input name="qty" type="number"
					ng-model="qty" ng-init="qty=item.quantity"
					value="{{item.quantity}}" style="width: 40px; padding: 2px;" /></li>

				<input type="hidden" name="itemCost" ng-model="itemCost"
					ng-init="itemCost =item.cost " value="{{item.cost}}">
				<input type="hidden" name="itemAvailable" ng-model="itemAvailable"
					ng-init="itemAvailable =item.available " value="{{item.available}}">

				<input type="hidden" name="itemName" ng-model="itemName"
					ng-init="itemName =item.item " value="{{item.item}}">
				<input name="oldqty" type="hidden" ng-model="oldqty"
					ng-init="oldqty=item.quantity" value="{{item.quantity}}"
					style="width: 40px; padding: 2px;" />

				<li style="width: 10%">{{item.cost}}</li>
				<li style="width: 10%" ng-click="delete(item.item)">Delete</li>
				<li><input type="submit" class="whiteButton" value="Update"
					ng-disabled="!addToCart.$valid" /></li>
			</ol>
			<center>
				<div class="error"
					ng-show="!addToCart.$pristine&&addToCart.qty.$error.max">You
					cannot buy more than available quantity</div>
				<div class="error"
					ng-show="!addToCart.$pristine&&addToCart.qty.$error.min">You
					need to add atleast one item to cart</div>
				<div class="error" ng-show="addToCart.qty.$error.number">It is
					not a valid Number</div>
			</center>
		</form>
	</div>
	<center>
	</br></br>
	<small style="margin: auto" ng-hide="checkingOut" ng-click="toggle()">Checkout</small>
	<div style="color:#007399;background:white;width:40%;" ng-show="checkingOut" style="font-family:Arial;">
		<form name="check" ng-submit="checkout()" novalidate ng-controller="addToCartController">
			
			<ol>
			<li  style="width: 60%;color:#007399;"><span>Card Number</span> </li>
			<li><input
				type="number" ng-minlength="16" ng-maxlength="20" size="20"
				data-stripe="number" name="cnumber" ng-model="cnumber" required /></li>
			<li style="color:#007399;" ng-show="!check.$pristine&&check.cnumber.$invalid"><small>The credit card number is required and needs to be between 16 and 20 digits in length and can contain only number</small></li>
			</ol>
			<ol>
			<li  style="width:60%;color:#007399;"> 
			 <span>Card Holder Name</span></li>
			 <li> <input
				type="text" ng-minlength="3"  data-stripe="cvc"
				ng-model="cname" name="cname" required/></li>
				<li style="color:#007399;" ng-show="!check.cname.$pristine&&check.cname.$invalid"><small>The card holder name is required and needs to be atleast 3 characters in length</small></li>
			
				</ol>
			</br>
			
			<input  type="submit" ng-disabled="check.$invalid" ></input>
		</form>
		</br>
		<p style="width: 30%" ng-show="checkingOut" ng-click="toggle()">Cancel</p>
	</div>
	</center>
</div>
